*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
  
body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 2rem;
    color: #444;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box; 
}

h1.main-heading {
    margin-top: 5rem;
    text-transform: uppercase;
}
  
nav,
footer {
    padding: 1rem 0;
    background-color: #aaa;
}
 
section {
    min-height: 20rem;
    padding: 3rem 1.5rem;
    background-color: #bbb;
}
  
section:nth-child(even) {
    background-color: #ddd;
}
  
p {
    margin: 0 auto;
    max-width: 65rem;
}
  
p + p {
    margin-top: 1.5rem;
}
  
