*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: 'PT Sans Narrow', sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
}
  
body {
    text-align: center;
    line-height: 1.5;
    font-size: 2rem;
    box-sizing: border-box;
}

.main-header-container {
    height: 70vh;
    background-image: url('../../images/main-image.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    height: 100%;
}

.landing-main-section {
    background: rgba(38, 85, 115, 0.959);
    color: whitesmoke;
}

main.main-container {
    grid-row: main;
}


h1, h3, h4 {
    font-family: 'PT SANS', sans-serif;
    color: #265573;
}

h1 {
    font-size: 6rem;
    animation: moveInRight 2s;
}

h1.dash-header {
    margin-block-start: 0;
}

h2 {
    font-family: 'PT SANS', sans-serif;
}

.main-img {
    width: 100%;
    height: auto;
}

.mission-header {
    color: #265573;
}

.nav {
    background-color: #ffffff;
    position: fixed;
}

footer {
    grid-row: footer;
    padding: 1rem 0;
}
 
section {
    font-size: 1.75rem;
    min-height: 5rem;
    padding: 2rem 1rem;
}
  
  
p {
    margin: 0 auto;
    max-width: 55rem;
}
  
p + p {
    margin-top: 1.5rem;
}

circle {
    fill: #BF7A19;
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 50%;
    animation: pulse 2s cubic-bezier(.5,.5,0,1);
}

circle:nth-child(2) {
    fill: #5295BF;
    animation: pulse 2s 0.75s cubic-bezier(.5,.5,0,1);
}


.pulse {
	z-index: -1;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
    max-width: 42.5rem;
}

@keyframes up {

	100% {
		transform: translateY(0);
	}
	
}
  
@keyframes pulse {
	
	25% {
		opacity: 0.4;
	}
	
	100% {
		transform: scale(1);
	}
	
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}