.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 40rem;
    border-radius: 0.5rem;
    margin: 0 3rem 2rem 3rem;
    background: rgba(191, 122, 25, 0.37);
}

img {
    width: 7.5rem;
    height: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@media screen and (min-width: 600px) {
    .card-container {
        display: grid;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    .card-container {
        display: grid;
        grid-template-areas: ". title ."
                            "card1 card2 card3";
        align-items: center;
        justify-content: center;
    }

    img {
        grid-area: img;
        margin: 0 auto;
    }

    .card-content {
        text-align: initial;
        grid-area: content;
        padding-left: 0.5rem;
    }

    .card-title {
        margin-block-end: 0.75em;
        grid-area: title;
    }

    .landing-card {
        display: grid;
        grid-template-areas: "img"
                             "title"
                             "content";
        justify-content: center;                      
    }

    #card-container-title {
        grid-area: title;
    }

    #card1 {
        height: 365px;
        width: 275px;
        grid-area: card1;
        margin: 0 auto;
    }

    #card2 {
        height: 365px;
        width: 275px;
        grid-area: card2;
        margin: 0 auto;
    }

    #card3 {
        height: 365px;
        width: 275px;
        grid-area: card3;
        margin: 0 auto;
    }
}

