.login-title {
    color: #265573;
}

.flex-container {
    margin: 5rem 5rem;
}

.login-grid-container {
    display: grid;
}

div.grid-container:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.151);
}

.btn-login span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.btn-login span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.btn-login:hover span {
    padding-right: 25px;
}
  
.btn-login:hover span::after {
    opacity: 1;
    right: 0;
}

.btn-login {
    background-color: #265573;
    margin: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 1rem;
    transition: all 0.5s;
    border-radius: 5px;
}

#login-password, #login-email {
    width: 100%;
    margin-top: 1rem;
    outline: 0;
    border: 0;
    border-bottom: 0.1rem solid #265573;
}

#login-password:hover, #login-email:hover {
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}

label.email, label.password {
    text-align: left;
    color: #265573;
    font-weight: bold;
    padding-top: 1rem;
}
