ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li, li a{
    text-decoration: none;
    padding-right: 1rem;
    color: #265573;
}

li:hover, li a:hover {
    color: #BF7A19;
}

.title {
    margin-right: auto;
}

.signup-nav {
    padding-right: 1rem;
}


.signup-nav:hover {
    cursor: pointer;
    animation: wiggle 200ms infinite alternate;
}

@keyframes wiggle {
    0% {
        transform: rotateZ(-5deg);
    }

    50% {
        transform: rotateZ(0deg)
    }

    100% {
        transform: rotateZ(5deg);
    }
}