ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-block-end: 0;
    padding-block-end: 1em;
}

li, li a{
    text-decoration: none;
    color: #265573;
    font-size: 2.25rem;
    padding: 0.25rem;
}

li:hover, li a:hover {
    color: #BF7A19;
}

nav {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.452);
    grid-row: header;
}


.title {
    margin-right: auto;
}

.signup-nav {
    margin-right: 2rem;
}


.signup-nav:hover {
    cursor: pointer;
    animation: wiggle 200ms infinite alternate;
}

@keyframes wiggle {
    0% {
        transform: rotateZ(-5deg);
    }

    50% {
        transform: rotateZ(0deg)
    }

    100% {
        transform: rotateZ(5deg);
    }
}